<?xml version="1.0"?>
<config>
    <modules>
        <VR_KiwiFruit>
            <version>0.1.0</version>
        </VR_KiwiFruit>
    </modules>
    <global>
        <models>
            <vr_kiwifruit>
                <class>VR_KiwiFruit_Model</class>
                <resourceModel>vr_kiwifruit_resource</resourceModel>
            </vr_kiwifruit>
            <vr_kiwifruit_resource>
                <class>VR_KiwiFruit_Model_Resource</class>
            </vr_kiwifruit_resource>
        </models>
        <blocks>
            <vr_kiwifruit>
                <class>VR_KiwiFruit_Block</class>
            </vr_kiwifruit>
        </blocks>
        <helpers>
            <vr_kiwifruit>
                <class>VR_KiwiFruit_Helper</class>
            </vr_kiwifruit>
        </helpers>
    </global>
</config>