.htaccess
.htaccess.sample
.idea/
.modgit/
.sass-cache/
/install.php
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
LICENSE_EE*
RELEASE_NOTES.txt
api.php
app/.htaccess
app/Mage.php
app/code/community/Aoe/
app/code/community/Cm/
app/code/community/Phoenix/
app/code/core/
app/design/adminhtml/default/default/
app/design/frontend/base/
app/design/frontend/default/blank/
app/design/frontend/default/default/
app/design/frontend/default/iphone/
app/design/frontend/default/modern/
app/design/frontend/enterprise/default
app/design/frontend/rwd/
app/design/install/
app/etc/applied.patches.list
app/etc/config.xml
app/etc/enterprise.xml
app/etc/local.xml
app/etc/local.xml.additional
app/etc/local.xml.template
app/etc/modules/Aoe_TemplateHints.xml
app/etc/modules/Cm_RedisSession.xml
app/etc/modules/Enterprise_*
app/etc/modules/Mage_All.xml
app/etc/modules/Mage_Api.xml
app/etc/modules/Mage_Api2.xml
app/etc/modules/Mage_Authorizenet.xml
app/etc/modules/Mage_Bundle.xml
app/etc/modules/Mage_Captcha.xml
app/etc/modules/Mage_Centinel.xml
app/etc/modules/Mage_Compiler.xml
app/etc/modules/Mage_Connect.xml
app/etc/modules/Mage_CurrencySymbol.xml
app/etc/modules/Mage_Downloadable.xml
app/etc/modules/Mage_ImportExport.xml
app/etc/modules/Mage_LoadTest.xml
app/etc/modules/Mage_Oauth.xml
app/etc/modules/Mage_PageCache.xml
app/etc/modules/Mage_Persistent.xml
app/etc/modules/Mage_Weee.xml
app/etc/modules/Mage_Widget.xml
app/etc/modules/Mage_XmlConnect.xml
app/etc/modules/Phoenix_Moneybookers.xml
app/locale/
bower_components/
cron.php
cron.sh
downloader/
errors/
favicon.ico
get.php
includes/
index.php
index.php.sample
js/blank.html
js/calendar/
js/enterprise/
js/extjs/
js/firebug/
js/flash/
js/index.php
js/jscolor/
js/lib/
js/mage/
js/prototype/
js/scriptaculous/
js/spacer.gif
js/tiny_mce/
js/varien/
lib/.htaccess
lib/3Dsecure/
lib/Apache/
lib/Cm/
lib/Credis/
lib/LinLibertineFont/
lib/Mage/
lib/Magento/
lib/PEAR/
lib/Varien/
lib/Zend/
lib/flex/
lib/googlecheckout/
lib/phpseclib/
mage
media/
media/.htaccess
media/catalog/product/cache/
media/customer/
media/dhl/
media/downloadable/
media/import/
media/xmlconnect/
misc/
nbproject/
node_modules/
pear
pear/
php.ini.sample
pkginfo/
shell/abstract.php
shell/compiler.php
shell/indexer.php
shell/log.php
skin/
skin/adminhtml/default/default/
skin/adminhtml/default/enterprise
skin/frontend/base/
skin/frontend/default/blank/
skin/frontend/default/blue/
skin/frontend/default/default/
skin/frontend/default/french/
skin/frontend/default/german/
skin/frontend/default/iphone/
skin/frontend/default/modern/
skin/frontend/enterprise
skin/frontend/rwd/
skin/install/
style_guide/_site/
style_guide/css/
style_guide/fonts/
style_guide/images/
style_guide/js/
var/
