// Set "select" default style
select:not(.form-control) {
  .form-control();
}

// Form validation
.validation-advice {
  .help-block();

  .has-success & {
    color : @state-success-text;
  }

  .has-error & {
    color : @state-danger-text;
  }

}

// The star for "Required Fields"
label.required::after {
  content : '*';
  .text-danger();
}

@media (min-width : @screen-ms) {
  .form-group {
    max-width : @form-field-max-width;
  }
}
