.icon {
  width          : @font-size-base;
  height         : @font-size-base;
  vertical-align : middle;
  fill           : @text-color;

  .btn & {
    fill : @btn-primary-color;
  }

  a & {
    fill : @link-color;
  }
}

.btn:not(.collapsed) .caret,
.open .caret {
  transform : rotate(180deg);
}

