.icon {
  .square(@icon-default-size);

  vertical-align : middle;
  fill           : @text-color;

  .btn-default & {
    fill : @btn-default-color;
  }

  .btn-primary & {
    fill : @btn-primary-color;
  }

  .btn-info & {
    fill : @btn-info-color;
  }

  .btn-warning & {
    fill : @btn-warning-color;
  }

  .btn-danger & {
    fill : @btn-danger-color;
  }

  a:not(.btn) & {
    fill : @link-color;
  }

  a:not(.btn):hover &,
  a:not(.btn):focus & {
    fill : @link-hover-color;
  }

}

.btn[data-toggle="collapse"]:not(.collapsed) .caret,
.open .caret {
  transform : rotate(180deg);
}

