<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <!-- Meta, title, CSS, favicons, etc. -->
  {% include head.html %}
</head>
<body>
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- Docs master nav -->
  {% include nav/main.html %}

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="hidden-print hidden-xs hidden-sm" role="complementary">
          <ul class="nav">
            {% if page.slug == "css" %}
            {% include nav/css.html %}
            {% elsif page.slug == "components" %}
            {% include nav/components.html %}
            {% elsif page.slug == "js" %}
            {% include nav/javascript.html %}
            {% endif %}
          </ul>
          <a class="back-to-top" href="#top">
            Back to top
          </a>
        </div>
      </div>
      <div class="col-md-9">
        {{ content }}
      </div>
    </div>
  </div>

  <script id="code-template" type="x-tmpl-mustache">
    <div class="col-md-12 language-markup"><pre><code></code></pre></div>
  </script>

  <script src="/js/vendor.js"></script>
  <script src="/js/style-guide.js"></script>
  </body>
</html>
