.price-box {
  display         : flex;
  flex-flow       : row wrap;
  justify-content : space-between;
  align-items     : center;

  p {
    margin-bottom : 0;
  }

  > :first-child {
    margin-right : @grid-gutter-width / 2;
  }

  .emphasize-price() {
    font-size : @font-size-large;
    .text-primary();
  }

  // General Price Style
  .price-label {
    font-size      : @font-size-small;
    vertical-align : middle;
    line-height    : 1;
  }

  .price {
    font-weight    : bold;
    vertical-align : middle;
    line-height    : 1;
  }

  // Old Price
  .old-price {
    > .price-label {
      display : none;
    }

    .price {
      text-decoration : line-through;
    }
  }

  // Special Price
  .special-price {
    > .price-label {
      display : none;
    }

    .price {
      .emphasize-price();
    }
  }

  // The container that contains price excl. and incl. tax
  .price-couple {
    display    : block;
    text-align : right;
  }

  // Price Excluding Tax
  .price-excluding-tax {
    display : block;

    //    .price-label {
    //      display : none;
    //    }

    //    .price::after {
    //      content   : 'Excl';
    //      font-size : @font-size-small;
    //    }
  }

  // Price Including Tax
  .price-including-tax {
    display : block;

    //    .price-label {
    //      display : none;
    //    }
    //
    //    .price::after {
    //      content   : 'Incl';
    //      font-size : @font-size-small;
    //    }
  }

  // "Start at" or "As low as" price
  .minimal-price {
    display : block;

    .price-label {
      margin-right : @grid-gutter-width / 2;
    }

    .price-couple {
      display        : inline-block;
      vertical-align : middle;
    }

    .price {
      .emphasize-price();
    }
  }

  // "As low as" price
  .minimal-price-link {
    display : block;

    .price {
      .emphasize-price();
    }
  }

  /* Unstyled Prices */
  .regular-price,
  .weee {
  }
}
