.row-product-collection {
  .make-row();

  &.grid {
    .col-product-collection {
      .make-xs-column(12);
      .make-sm-column(4);
      .make-md-column(4);
      .make-lg-column(2);
    }
  }

  &.list {
    .col-product-collection {
      .make-xs-column(12);
    }
  }

  .img-n-rating {
    position : relative;
    .product-img-link {
      display : block;
    }

    .ratings {
      position : absolute;
      bottom   : 5px;
      right    : 5px;
    }
  }

  .configurable-swatch-list {
    position : absolute;
    bottom   : 5px;
    left     : 5px;
  }

  .product-name {
    white-space   : nowrap;
    text-overflow : ellipsis;
    overflow      : hidden;
    margin-top    : 0;
  }

  .price-n-actions {
    .make-row(0);
    margin-bottom : @line-height-computed / 2;

    .price-box {
      .make-xs-column(9, 0);
    }

    .extra-actions {
      .make-xs-column(3, 0);
      text-align : right;
      font-size  : @font-size-large;
    }
  }
}

