.showcase-collection {
  display         : flex;
  flex-flow       : row wrap;
  justify-content : flex-start;
  margin          : 0 @grid-gutter-width / -2 -@line-height-computed;

  .showcase {
    flex-grow   : 0;
    flex-shrink : 0;
    padding     : 0 @grid-gutter-width / 2 @line-height-computed * 2;
  }

  .col-width(@width) {
    flex-basis : percentage(@width/@grid-columns);
    max-width  : percentage(@width/@grid-columns);
  }

  &.grid .showcase {
    .page-1-col & {
      .col-width(6);

      @media (min-width : @screen-sm) {
        .col-width(6);
      }

      @media (min-width : @screen-md) {
        .col-width(4);
      }

      @media (min-width : @screen-lg) {
        .col-width(3);
      }
    }
  }

  &.list .showcase {
    .col-width(12);
  }
}

.showcase {
  display   : flex;
  flex-flow : column nowrap;

  .showcase-media {
    position : relative;

    .product-img-link {
      display : block;

      .product-img {
        .img-responsive();
        .center-block();
      }
    }

    .configurable-swatch-list {
      margin-bottom : 0;
      position      : absolute;
      bottom        : 1%;
      right         : 1%;
    }
  }

  .showcase-detail {
    display     : flex;
    flex-flow   : column nowrap;
    flex-grow   : 1;
    align-items : center;

    .product-name {
      .text-overflow();
      margin-top : @line-height-computed / 2;
      max-width  : 100%;
      text-align : center;
    }

    .price-box {
      margin-bottom       : @line-height-computed / 2;
      backface-visibility : hidden;
      flex-grow           : 1;
    }

    .rating {
      flex-grow : 1;
    }
  }
}

