<?xml version="1.0"?>
<config>
    <modules>
        <VR_Kiwiberry>
            <version>0.1.0</version>
        </VR_Kiwiberry>
    </modules>
    <global>
        <models>
            <vr_kiwiberry>
                <class>VR_Kiwiberry_Model</class>
                <resourceModel>vr_kiwiberry_resource</resourceModel>
            </vr_kiwiberry>
            <vr_kiwiberry_resource>
                <class>VR_Kiwiberry_Model_Resource</class>
            </vr_kiwiberry_resource>
        </models>
        <blocks>
            <vr_kiwiberry>
                <class>VR_Kiwiberry_Block</class>
            </vr_kiwiberry>
            <checkout>
                <rewrite>
                    <onepage_billing>VR_Kiwiberry_Block_Checkout_Onepage_Billing</onepage_billing>
                    <onepage_shipping>VR_Kiwiberry_Block_Checkout_Onepage_Shipping</onepage_shipping>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <vr_kiwiberry>
                <class>VR_Kiwiberry_Helper</class>
            </vr_kiwiberry>
        </helpers>
    </global>
</config>
