<?xml version="1.0"?>
<config>
    <modules>
        <VR_Kiwiberry>
            <version>0.1.0</version>
        </VR_Kiwiberry>
    </modules>
    <global>
        <models>
            <vr_kiwiberry>
                <class>VR_Kiwiberry_Model</class>
                <resourceModel>vr_kiwiberry_resource</resourceModel>
            </vr_kiwiberry>
            <vr_kiwiberry_resource>
                <class>VR_Kiwiberry_Model_Resource</class>
            </vr_kiwiberry_resource>
        </models>
        <blocks>
            <vr_kiwiberry>
                <class>VR_Kiwiberry_Block</class>
            </vr_kiwiberry>
            <configurableswatches>
                <rewrite>
                    <catalog_layer_state_swatch>VR_Kiwiberry_Block_ConfigurableSwatches_Catalog_Layer_State_Swatch</catalog_layer_state_swatch>
                </rewrite>
            </configurableswatches>
        </blocks>
        <helpers>
            <vr_kiwiberry>
                <class>VR_Kiwiberry_Helper</class>
            </vr_kiwiberry>
        </helpers>
    </global>
</config>
